.heroi {
  position: absolute;
  top: 100px;
  background-color: #213e60;
  height: auto;
  min-height: 100%;
  width: 100%;
}

.heroiUl {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0;
  justify-content: space-evenly;
}

.heroiLi {
  list-style-type: none;
  width: 200px;
  height: 310px;
  border: 5px solid #2196f3;
  background-color: white;
  margin: 3px;
}

.heroiLiSelected {
  list-style-type: none;
  width: 200px;
  height: 310px;
  border: 5px solid #FF0000;
  background-color: black;
  color: black;
  margin: 3px;
}

.heroiImg {
  width: 200px;
  height: 180px;
  border-top: none;
}

.heroiImg2 {
  width: 200px;
  height: 250px;
  border-top: none;
}

.heroiInfo {
  width: 90%;
  color: white;
  position: relative;
  left: 8px;
  top: 5px;
  height: 140px;
}

.heroiH4 {
  margin: 10px 0 0 0;
  text-align: center;
  color: black;
}

.heroiPowerStats {
  font-size: 12px;
  display: flex;
  justify-content:space-between;
}

.powerStats {
  font-size: 12px;
  display: flex;
  justify-content: flex-start;
}

@media screen and (max-width: 750px) {
 .heroi {
  top: 270px;
 }
}

@media screen and (max-width: 400px) {
  
}

@media screen and (max-width: 276px) {
  .heroi {
    top: 300px;
   }
}